<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative align-items-center justify-content-between">
        <nav class="navbar">
            <div>
                <i class="bi bi-list"></i>
                <a class="navbar-brand" routerLink="/"><img class="logo-img" src="../../assets/logo-saira.png"></a>
            </div>
            <div>
                <button class="btn login-btn" routerLink="/login">Log in</button>
                <button class="btn signup-btn" routerLink="/signup">Sign up</button>
            </div>
        </nav>
    </div>
</header>