<app-navbar></app-navbar>
<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your email"/>
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <small *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</small>
          <small *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format.</small>
        </div>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Password is required.
        </div>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
  
      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  